
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>

<form action="/" method="post">
    <p>
        帳號:<input type="text" name="accout" value="" />
    </p>
    <p>
        密碼:<input type="password" name="pwd" value="" />
    </p>
    <p>
        性別:
        <input type="radio" name="gender" value="1" /> boy
        <input type="radio" name="gender" value="2" /> girl
    </p>
    <p>
        興趣:
        <input type="checkbox" name="hobby1" value="1" /> A
        <input type="checkbox" name="hobby2" value="2" /> B
        <input type="checkbox" name="hobby3" value="2" /> C
    </p>
    <p>
        自我介紹:
        <textarea></textarea>
    </p>
</form>