
@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>
<h3>123</h3>
<p>test a  <b>b</b> c</p>

<a href="/Home/About">about</a>

<a href="https://google.com">google</a>

<img src="https://www.apple.com/ac/structured-data/images/knowledge_graph_logo.png?202204220042" alt="Alternate Text" />

<ol>
    <li>aaa</li>
    <li>bbb</li>
    <li>ccc</li>
</ol>




