
@{
    ViewBag.Title = "Index";
}



<h2>Index</h2>
<h3>123</h3>
<p>test a  <b>b</b> c</p>

<a href="/Home/About">about</a>

<a href="https://google.com">google</a>

<img src="https://www.apple.com/ac/structured-data/images/knowledge_graph_logo.png?202204220042" alt="Alternate Text" />

<ol>
    <li>aaa</li>
    <li>bbb</li>
    <li>ccc</li>
</ol>


@DateTime.Now

@{ 
    var amount = 100;
    var isValid = true;
}

<div>@amount</div>

@if (isValid)
{
    <div>isvalid:@isValid</div>
}

@for (int i = 1; i <= 10; i++)
{
    <p>i@(i)</p>
}
